body {
    margin: auto;
    background-color: #55558F;
}

.entete-site h1 {
   color : black;
   width : 100%;
   text-align: center;
   background-color: lightblue;
   margin : 0px auto 0px;
   padding-bottom: 30px;
}

.entete-site{
    width: 70%;
    margin: auto;
    background-color: lightblue;
    padding-top: 30px;
    padding-bottom: 30px;

}



.entete-site > nav > a {
    color: black;
    background-color: lightblue;
    margin: 50px;
    text-decoration: none;
}



li{
    padding-bottom:10px;
     padding-top:10px;

}

.main {
    width: 55%;
    margin: auto;
    padding-left: 15px;
    background-color: lightblue;
    margin-top:150px;
    text-align:center;
}

